<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
    <link rel="stylesheet" href='{{url_for("static", filename="css/styles.css")}}'>
</head>
<body>
    <form action="{{ url_for('nav_func') }}" method="POST">
        {{ nav_form.csrf_token}}
        {{ nav_form.prod_nav(class_="main_view") }}
        {{ nav_form.loc_nav(class_="main_view") }}
        {{ nav_form.mov_nav(class_="main_view") }}
        {{ nav_form.over_nav(class="main_view") }}
    </form>
    {% block body %}
    <div class="welcome">
        <h1>Inventory Management System</h1>
        <h2>(Interview Assignment)</h2>
        <h4>I am Jayaprakash and this is a project showcasing my skills in web dev using flask.</h4>
    </div>
    {% endblock %}
</body>
</html>